@import "mixins/color";
@import './variables/colors.variables';;

$brand: hsl(188, 80%, 20%);

:root {
  display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100%;
	padding: 24px;

  @include color-default($brand, brand, $dark-color);
}
