@import "../../styles/mixins/color";
@import "../../styles/variables/colors-palette.variables";

@include set-value-color(neutral, $neutral-dark);

:host {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.144);
  border-radius: 10px;
  color: var(--ds-color);
}
