.switcher {
  margin: 0 0 15px 0;

  &__heading {
    color: hsl(var(--ds-color-neutral-10));
    margin: 0 10px 0 0;
  }

  &__list {
    display: flex;
    padding: 0;
    margin: 0 0 15px 0;
    list-style: none;
    align-items: center;
  }

  &__item {
    display: flex;
    padding: 0;
    list-style: none;
    align-items: center;
  }

  &__item:not(:last-child) {
    margin: 0 10px 0 0;
  }

  &__input {
    margin: 0;
  }

  &__label {
    padding: 0 0 0 5px;
    cursor: pointer;
    color: hsl(var(--ds-color-neutral-10));
  }
}
