@use 'sass:map';

$categories: brand, neutral, feedback !default;

/// brand maps

$brand-dark: (
  hue: 188,
  saturation: 80,
  luminosity: (
    1: 20,
    2: 30,
    3: 40,
    4: 60,
    5: 80,
  ),
) !default;

$brand-light: (
  hue: 188,
  saturation: 80,
  luminosity: (
    1: 80,
    2: 60,
    3: 40,
    4: 30,
    5: 20,
  ),
) !default;

$brand: $brand-dark !default;

/// neutral maps

$neutral-dark: (
  hue: 188,
  saturation: 10,
  luminosity: (
    1: 8,
    15: 13,
    2: 18,
    25: 23,
    3: 28,
    35: 33,
    4: 38,
    45: 43,
    5: 48,
    55: 53,
    6: 58,
    65: 63,
    7: 68,
    75: 73,
    8: 78,
    85: 83,
    9: 88,
    95: 93,
    10: 98,
  ),
) !default;

$neutral-light: (
  hue: 188,
  saturation: 10,
  luminosity: (
    1: 98,
    15: 93,
    2: 88,
    25: 83,
    3: 78,
    35: 73,
    4: 68,
    45: 63,
    5: 58,
    55: 53,
    6: 48,
    65: 43,
    7: 38,
    75: 33,
    8: 28,
    85: 23,
    9: 18,
    95: 13,
    10: 8,
  ),
) !default;

$neutral: $neutral-dark !default;

/// feedback maps

$attention-default: (
  hue: 44,
) !default;

$caution-default: (
  hue: 24,
) !default;

$warning-default: (
  hue: 4,
) !default;

$success-default: (
  hue: 128,
) !default;

$feedback-default-dark: (
  saturation: 80,
  luminosity: 65,
) !default;

$feedback-default-light: (
  saturation: 80,
  luminosity: 45,
) !default;

$attention-dark: map.merge($attention-default, $feedback-default-dark);
$attention-light: map.merge($attention-default, $feedback-default-light);
$attention: $attention-dark !default;

$caution-dark: map.merge($caution-default, $feedback-default-dark);
$caution-light: map.merge($caution-default, $feedback-default-light);
$caution: $caution-dark !default;

$warning-dark: map.merge($warning-default, $feedback-default-dark);
$warning-light: map.merge($warning-default, $feedback-default-light);
$warning: $warning-dark !default;

$success-dark: map.merge($success-default, $feedback-default-dark);
$success-light: map.merge($success-default, $feedback-default-light);
$success-light: map.set($success-light, luminosity, 35);
$success: $success-dark !default;

/// theme maps

$aula-dark: map.set($brand-dark, hue, 168) !default;
$aula-light: map.set($brand-light, hue, 168) !default;
$aula: $aula-dark !default;

$material-dark: map.set($brand-dark, hue, 24) !default;
$material-light: map.set($brand-light, hue, 24) !default;
$material: $material-dark !default;

$questoes-dark: map.set($brand-dark, hue, 200) !default;
$questoes-light: map.set($brand-light, hue, 200) !default;
$questoes: $questoes-dark !default;

$revalida-dark: map.set($brand-dark, hue, 342) !default;
$revalida-light: map.set($brand-light, hue, 342) !default;
$revalida: $revalida-dark !default;

$provas-dark: map.set($brand-dark, hue, 268) !default;
$provas-light: map.set($brand-light, hue, 268) !default;
$provas: $provas-dark !default;

$extensivo-dark: map.set($brand-dark, hue, 300) !default;
$extensivo-light: map.set($brand-light, hue, 300) !default;
$extensivo: $extensivo-dark !default;

$medmaster-dark: map.set($brand-dark, hue, 56) !default;
$medmaster-light: map.set($brand-light, hue, 56) !default;
$medmaster: $medmaster-dark !default;

$cpmed-dark: map.set($brand-dark, hue, 12) !default;
$cpmed-light: map.set($brand-light, hue, 12) !default;
$cpmed: $cpmed-dark !default;

$nopapo-dark: map.set($brand-dark, hue, 230) !default;
$nopapo-light: map.set($brand-light, hue, 230) !default;
$nopapo: $nopapo-dark !default;

$medeletro-dark: map.set($brand-dark, hue, 180) !default;
$medeletro-light: map.set($brand-light, hue, 180) !default;
$medeletro: $medeletro-dark !default;

$cpvent-dark: map.set($brand-dark, hue, 72) !default;
$cpvent-light: map.set($brand-light, hue, 72) !default;
$cpvent: $cpvent-dark !default;

$ventilamed-dark: map.set($brand-dark, hue, 29) !default;
$ventilamed-light: map.set($brand-light, hue, 29) !default;
$ventilamed: $ventilamed-dark !default;

$intensivao-dark: map.set($brand-dark, hue, 344) !default;
$intensivao-light: map.set($brand-light, hue, 344) !default;
$intensivao: $intensivao-dark !default;
