@use 'sass:color';

@mixin color-default($hsl, $name, $lighting) {
  $hue: color.hue($hsl);
  $saturation: color.saturation($hsl);
  $tones: 10%;

  @for $i from 1 through length($lighting) {
    $tones: nth($dark-color, $i);
    $color: hsl($hue, $saturation, $tones);
    --ds-color-#{$name}-#{$i}: #{$color};
  }
}
