@mixin generate-colors($nameColor, $hue, $saturation) {
  :root {
    $lightness-values: (20%, 30%, 40%, 60%, 80%);
    $index: 1;

    @each $lightness in $lightness-values {
      $hsl: hsl($hue, $saturation * 1%, $lightness);

      --ds-color-#{$nameColor}-#{$index}: #{$hsl};

      $index: $index + 1;
    }
  }
}



