@use 'sass:color';

@mixin color-default($hsl, $name, $lighting) {
  $hue: color.hue($hsl);
  $saturation: color.saturation($hsl);
  $tones: 10%;

  @for $i from 1 through length($lighting) {
    $tones: nth($lighting, $i);
    $color: hsl($hue, $saturation, $tones);
    --ds-color-#{$name}-#{$i}: #{$color};
  }
}

@mixin set-value-color($name, $lighting){

  @for $i from 1 through length($lighting) {
    :host([color=#{$name}-#{$i}]){
      @include set-color(#{$name}-#{$i})
    }
  }

}

@mixin set-color($color) {
  --ds-color: var(--ds-color-#{$color});
}
