:root,
.ds-dark {
  --ds-color-brand: 188, 80%,
    40%;
  --ds-color-brand-1: 188, 80%,
    20%;
  --ds-color-brand-2: 188, 80%,
    30%;
  --ds-color-brand-3: 188, 80%,
    40%;
  --ds-color-brand-4: 188, 80%,
    60%;
  --ds-color-brand-5: 188, 80%,
    80%;
}

.ds-light {
  --ds-color-brand: 188, 80%,
    40%;
  --ds-color-brand-1: 188, 80%,
    80%;
  --ds-color-brand-2: 188, 80%,
    60%;
  --ds-color-brand-3: 188, 80%,
    40%;
  --ds-color-brand-4: 188, 80%,
    30%;
  --ds-color-brand-5: 188, 80%,
    20%;
}

.ds-color-brand,
[color=brand] {
  --ds-color-base: var(--ds-color-brand) !important;
  --ds-color-contrast: var(--ds-color-contrast-fixed) !important;
}
